apiVersion: v1
kind: Secret
metadata:
  name: backup-volume-credentials
  namespace: kube-system
type: fstab/cifs
data:
  username: '{{ storage.username | b64encode }}'
  password: '{{ storage.password | b64encode }}'
